// general elements
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: normal;
  font-family: $base-font;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  color: $color-font;
  font-size: $base-font-size;
}

::selection {
  background-color: $color-font;
  color: $color-background;
}

a {
  display: inline-block;
  color: $color-font;
  text-decoration: none;
  outline: none;

  &:hover,
  &:active {
    text-decoration: none;
  }
}

button,
.button {
  background-color: $color-background;
  appearance: none;
  outline: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

img {
  display: inline-block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
