// grid
.grid {
  @extend %clearfix;
  display: block;
  width: 100%;

  .column {
    float: left;
    margin-right: $gutter-width;
  }
}

// 2 column grid
.grid-2-column {
  > .column {
    width: calc((100% - 1 * #{$gutter-width} - 1px) / 2);

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(n+3) {
      margin-top: $gutter-width;
    }
  }
}

// 3 column grid
.grid-3-column {
  > .column {
    width: calc((100% - 2 * #{$gutter-width} - 1px) / 3);

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-child(n+4) {
      margin-top: $gutter-width;
    }
  }
}

// 4 column grid
.grid-4-column {
  > .column {
    width: calc((100% - 3 * #{$gutter-width} - 1px) / 4);

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-child(n+5) {
      margin-top: $gutter-width;
    }
  }
}

// grid 1 third 2 third
.grid-1-third-2-third {
  > .column {
    &:nth-child(odd) {
      width: calc((100% - 2 * #{$gutter-width} - 1px) / 3);
    }

    &:nth-child(even) {
      width: calc((((100% - 2 * #{$gutter-width} - 1px) / 3) * 2) + (1 * #{$gutter-width}));
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(n+3) {
      margin-top: $gutter-width;
    }
  }
}

// grid 2 third 1 third
.grid-2-third-1-third {
  > .column {
    &:nth-child(odd) {
      width: calc((((100% - 2 * #{$gutter-width} - 1px) / 3) * 2) + (1 * #{$gutter-width}));
    }

    &:nth-child(even) {
      width: calc((100% - 2 * #{$gutter-width} - 1px) / 3);
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(n+3) {
      margin-top: $gutter-width;
    }
  }
}
